/*-- global CSS --*/

body {
  font-weight: lighter;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
a {
  color: #000;
  text-decoration: none;
}
.sticky {
  position: absolute;
  z-index: 99;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* canvas body */

.off-canvas {
  position: absolute;
  background: #191919;
  z-index: -1;
  min-height: 100%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/* teks pada column */

.column p {
  font-family: 'Oxygen', sans-serif;
  text-align: justify;
  font-size: 14px;
}
.columns h5 {
  font-family: 'Oxygen', sans-serif;
  font-size: 26px;
  font-weight: bold;
}
.title-h4 {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/* header menu */

.top-bar, .top-bar ul {
  background-color: #18549f;
}
.title-bar .dropdown.menu a {
  background: #18549f;
}
.menu>li>a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
  cursor: pointer;
}
.menu .vertical li a {
  color: #fff;
  background-color: #fff;
  z-index: 99;
}
.dropdownlist:hover .dropbtn {
  background-color: red;
}
li.dropdownlist {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdownlist:hover .dropdown-content {
  display: block;
}

/*-- index.php --*/


/* carousel orbit */

.orbit-container {
  position: relative;
  height: 500px;
}
.orbit-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.5);
}
<<<<<<< HEAD
=======

.owl-caption {
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
    height: 100%;
}


/*.owl-carousel:nth-of-type(3) .item .owl-caption {
    color: #fff;
}

.owl-carousel:nth-of-type(4) .item .owl-caption {
    color: #000;
}*/


>>>>>>> 83654c2850f97753157791c96aed0485d3953135
.orbit-caption-h1 {
  font-size: 48px;
}
.orbit-caption-p {
  font-size: 24px;
}
.orbit-caption-text {}
.orbit-slide:nth-of-type(1) .orbit-caption-text {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #fefefe;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 8px #000;
}
.orbit-caption-text-left-h1 {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fefefe;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  padding-left: 40px;
  font-size: 38px;
  text-shadow: 2px 2px 8px #000;
}
.orbit-caption-text-left {
  position: relative;
  top: 44%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fefefe;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  padding-right: 26em;
  padding-left: 2.3em;
  font-size: 18px;
  text-align: justify;
  text-shadow: 2px 2px 8px #000;
}
.orbit-caption-img {
  background-size: cover;
  height: 8rem;
  width: 8rem;
  position: relative;
  display: block;
  margin: 0 auto;
  top: 2.8em;
}
.orbit-caption-img-right {
  background-size: cover;
  opacity: .8;
  width: 25rem;
  position: relative;
  display: block;
  margin: 0 auto;
  float: right;
  top: 9em;
  right: 5em;
}
.orbit-caption-img-round {
  background-size: cover;
  opacity: .8;
  position: relative;
  display: block;
  margin: 0 auto;
  float: right;
  top: 21%;
  border-radius: 100%;
  width: 18rem;
  right: 8%;
  border: solid 1px #555;
  background-color: #eed;
}
.orbit-caption a {
  position: relative;
  margin: 0 auto;
  top: 12em;
  left: 3em;
}
.orbit-slide div {
  background: #639 none repeat scroll 0% 0%;
  padding: 2rem 4rem;
  color: #FEFEFE;
  text-align: center;
}
.orbit-slide div p {
  margin-top: 12px;
  font-size: 14px;
}
.orbit-bullets {
  display: none;
}

/*video*/

video#bgvid {
  top: 50%;
  left: 50%;
  background: url(image/typing-on-mac.jpg) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*footer*/

.footer {
  background-color: #292c2f;
  text-align: center;
  padding: 4rem;
}
.footer .inline-list a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin: 0 3px 0 0;
}
.footer .contact {
  list-style-type: none;
  margin: 0;
  text-align: left;
  color: #fff;
}
.footer .contact li {
  margin-bottom: 2rem;
}
.footer .contact li p {
  padding-left: 5rem;
}
.footer .contact i {
  position: absolute;
  background-color: #33383b;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1;
  margin: 0 0 0 -4rem;
  vertical-align: middle;
  padding: .25em .45em;
}
.footer .copywrite {
  color: #8f9296;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
}
.footer .about {
  color: #92999f;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
}
.footer .footer-links a {
  list-style: none;
  font-weight: normal;
  color: #fff;
  padding: 3rem 0 2rem;
  margin: 0;
  font-size: 0.875rem;
}
.footer .footer-links a::after {
  content: "•";
  padding: 0 0.2rem 0 0.4rem;
}
.footer .footer-links a:last-child::after {
  content: "";
  padding: 0 0.4rem 0 0.8rem;
}
.logo {
  color: #fff;
  font-size: 1.5rem;
}
.logo i {
  margin-right: 0.5rem;
}
#back-top {
  position: fixed;
  bottom: 20px;
  right: 2%;
  z-index: 100;
}

/*owl-demo*/

#owl-demo .item {
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#owl-demo img {
  padding: 30px 0px;
  text-align: center
}
#owl-demo2 .item {
  margin: 3px;
}
#owl-demo2 .item img {
  display: block;
  width: 100%;
  height: auto;
}

/*photoswipe*/

.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 100%;
}
.my-gallery figcaption {
  display: none;
}
@media only screen and (min-width: 40.063em) {
  .footer p {
    text-align: left;
  }
  .footer .social {
    text-align: left;
    margin: 0;
    padding-bottom: 20px;
  }
  .footer .contact {
    text-align: left;
  }
  .footer .contact>i {
    margin-right: 1rem;
  }
}

/*-- order.php --*/


/* leftside untuk logo klien */

.leftside {
  text-align: center;
}
.homebox {
  width: 100%;
  float: center;
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;
}
#icons {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center
}
#icons a {
  text-decoration: none;
}
#icons li {
  display: inline-block;
  width: 100px;
  height: 100px;
  /*border: 1px solid #ccc;*/
  margin: 0 7px 7px 0;
}
#icons li:hover {
  /*border: 1px solid #aaa;
background: #ddd;*/
}
#icons li img {
  /*padding: 8px 18px 2px 18px;*/
  align: center;
}
#icons li h6 {
  color: #333;
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding: 0;
}
#sync1 .item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
#sync2 div {
  margin: 0 auto;
}
#sync2 .item {
  background: #C9C9C9;
  padding: 10px 0;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#sync2 .item h1 {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
#sync2 .synced .item {
  background: #0c83e7;
}
.pricing-table {
  border: solid 1px #DDDDDD;
}
.pricing-table li {
  border-bottom: dotted 0px #DDDDDD;
  font-size: 0.8rem;
  padding: 0.875rem 1.125rem;
}
.pricing-table li:last-child {
  border-bottom: 0;
}
.pricing-table .title {
  font-size: 0.875rem;
  border-bottom: 0;
  background-color: #343433;
  padding: 1.25rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}
.pricing-table .price {
  background-color: #F6F6F6;
  color: #333333;
  font-size: 2rem;
  border-bottom: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.large-4:nth-of-type(1) .pricing-table .title {
  color: #fff;
  background-color: #149076;
}
.large-4:nth-of-type(2) .pricing-table .title {
  color: #fff;
  background-color: #0093A5;
}
.large-4:nth-of-type(3) .pricing-table .title {
  color: #fff;
  background-color: #AE3427;
}
.large-4:nth-of-type(1) .pricing-table .price {
  color: #fff;
  background-color: #18AB8E;
  text-shadow: 3px 3px 0px #888;
}
.large-4:nth-of-type(2) .pricing-table .price {
  color: #fff;
  background-color: #30B2C2;
  text-shadow: 3px 3px 0px #888;
  font-size: 30px;
}
.large-4:nth-of-type(3) .pricing-table .price {
  color: #fff;
  background-color: #D74335;
  text-shadow: 3px 3px 0px #888;
  font-size: 29px;
}
.pricing-table .title {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}
.sdr1 .pricing-table .title {
  color: #fff;
  background-color: #0FABA5;
}
.sdr1 .pricing-table .price {
  color: #fff;
  background-color: #15C6C0;
  text-shadow: 3px 3px 0px #888;
  font-size: 29px;
}
.sdr2 .pricing-table .title {
  color: #fff;
  background-color: #15A687;
}
.sdr2 .pricing-table .price {
  color: #fff;
  background-color: #14C29E;
  text-shadow: 3px 3px 0px #888;
  font-size: 29px;
}
.aol1 .pricing-table .title {
  color: #fff;
  background-color: #1F5F9F;
}
.aol1 .pricing-table .price {
  color: #fff;
  background-color: #2972B0;
  text-shadow: 3px 3px 0px #888;
  font-size: 29px;
}
.aol2 .pricing-table .title {
  color: #fff;
  background-color: #1A3E7B;
}
.aol2 .pricing-table .price {
  color: #fff;
  background-color: #234E8E;
  text-shadow: 3px 3px 0px #888;
  font-size: 29px;
}
.owl-caption {
  position: relative;
  margin-top: -4em;
}
.pricing-table .description {
  color: #777777;
  font-size: 0.625rem;
}
.pricing-table .button {
  margin: 0;
}
.text-transform {
  text-transform: uppercase;
}
.mrgn-20-top {
  margin-top: 20px
}
.mrgn-30-top {
  margin-top: 30px
}
.mrgn-40-top {
  margin-top: 40px
}
.mrgn-20-bottom {
  margin-bottom: 20px
}
.mrgn-30-bottom {
  margin-bottom: 30px
}
.mrgn-40-bottom {
  margin-bottom: 40px
}
.pricing-bg {
  background: #f8f8f8;
}
.pricing-bg h2 {
  font-family: 'Raleway', sans-serif;
  color: #191919;
  font-weight: bold;
  font-size: 1.5rem;
}
.active-tb {
  position: relative;
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
  transform: scale(1);
  border: 0;
  transition: 0.4s ease;
  z-index: 0;
}
.active-tb:hover {
  position: relative;
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
  transform: scale(1.1);
  border: 0;
  z-index: 0;
}
.cite {
  border-left: 5px solid #ffdb3a;
  padding: 10px 0 10px 30px;
  margin: 0 0 1rem -10px;
}
.cite p {
  font-style: italic;
}
@import url(http://fonts.googleapis.com/css?family=Glegoo);
blockquote {
  position: relative;
  margin: 80px auto;
  width: 800px;
  font-size: 48px;
  line-height: 56px;
  padding-left: 40px;
  border-left: 2px solid #fff;
}
blockquote span {
  display: block;
  text-align: right;
  font-size: 24px;
  line-height: 40px;
  /*margin-top: 10px;*/
  text-transform: uppercase;
}
blockquote.tweet-this:hover p {
  /*opacity: 0.5;*/
  transition: opacity 0.2s ease;
}
blockquote.tweet-this .tweet-quote {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 74px;
  height: 26px;
  margin-top: -13px;
  margin-left: -36px;
  transition: all 0.2s ease;
}
.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  display: block;
  margin-top: 60px;
}
.box-icon {
  background-color: #569;
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin-top: -61px;
  font-size: 3rem;
}
.box-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.info h4 {
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 10px;
}
.info p {
  color: #717171;
  font-size: 16px;
  padding-top: 10px;
}
.info a {
  /*border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
  transition: all 0.5s ease 0s;
}
.info a:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s ease 0s;
}
#stats li {
  display: block;
  list-style-type: none;
  font-size: 14px;
}

/*-- Responsive page --*/

@media screen and (max-width: 1240px) {
  /*order*/
  #sync2 .item {
    display: none;
  }
}
@media screen and (max-width: 884px) {
  .orbit-caption p {
    font-weight: 400;
    font-weight: lighter;
    font-family: 'Oxygen', sans-serif;
  }
  .title-h4 {
    text-align: center;
    margin: 20px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
  }
  .orbit-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.5);
  }
  .orbit-caption-img {
    background-size: cover;
    height: 6rem;
    width: 6rem;
    position: relative;
    display: block;
    margin: 0 auto;
    top: -1em;
  }
  .orbit-caption-img-right, .orbit-caption-img-round {
    visibility: hidden;
  }
  .button {
    visibility: hidden;
  }
  .orbit-caption-text-left-h1 {
    position: absolute;
    padding-left: 20px;
    font-size: 16px;
    text-shadow: 2px 2px 8px #000;
    top: 35%;
  }
  .orbit-caption-text-left {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fefefe;
    font-weight: bold;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 20px;
    font-size: 16px;
    text-align: left;
    text-shadow: 2px 2px 8px #000;
  }
  .columns h5 {
    font-size: 14px;
    font-weight: bold;
  }
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left-h1 {
    font-size: 36px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left-h1 {
    font-size: 36px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left-h1 {
    font-size: 36px;
  }
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left {
    font-size: 32px;
    margin-top: 20px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left {
    font-size: 32px;
    margin-top: 20px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left {
    font-size: 32px;
    margin-top: 20px;
  }
  /*order*/
  #sync2 .item {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .orbit-caption-img {
    background-size: cover;
    height: 6rem;
    width: 6rem;
    position: relative;
    display: block;
    margin: 0 auto;
    top: -1em;
  }
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left-h1 {
    font-size: 36px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left-h1 {
    font-size: 36px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left-h1 {
    font-size: 36px;
  }
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left {
    font-size: 29px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left {
    font-size: 26px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left {
    font-size: 30px;
  }
  /*order page*/
  .owl-caption {
    font-size: 12px;
    top: 1em;
  }
}
@media screen and (max-width: 640px) {
  #sticky {
    display: none;
  }
  .orbit-caption-img {
    visibility: hidden;
  }
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left-h1 {
    font-size: 32px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left-h1 {
    font-size: 32px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left-h1 {
    font-size: 32px;
  }
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left {
    font-size: 22px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left {
    font-size: 22px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left {
    font-size: 23px;
  }
  /*order page*/
  #sync1 {
    margin-top: 3em;
  }
  .owl-caption {
    background-color: rgba(0, 0, 255, .8);
    top: 16px;
    font-size: 10px;
  }
  #owlc1 {
    color: #fff;
  }
  #owlc4 {
    color: #fff;
  }
  blockquote {
    width: 300px;
    font-size: 20px;
  }
}
@media screen and (max-width: 412px) {
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left-h1 {
    font-size: 22px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left-h1 {
    font-size: 22px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left-h1 {
    font-size: 22px;
  }
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left {
    font-size: 16px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left {
    font-size: 15px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left {
    font-size: 16px;
  }
}
@media screen and (max-width: 384px) {
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left-h1 {
    font-size: 20px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left-h1 {
    font-size: 20px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left-h1 {
    font-size: 20px;
  }
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left {
    font-size: 16px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left {
    font-size: 14px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left {
    font-size: 16px;
  }
}
@media screen and (max-width: 360px) {
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left-h1 {
    font-size: 18px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left-h1 {
    font-size: 18px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left-h1 {
    font-size: 18px;
  }
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left {
    font-size: 16px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left {
    font-size: 14px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left-h1 {
    font-size: 14px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left-h1 {
    font-size: 14px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left-h1 {
    font-size: 14px;
  }
  .orbit-slide:nth-of-type(2) .orbit-caption-text-left {
    font-size: 14px;
  }
  .orbit-slide:nth-of-type(3) .orbit-caption-text-left {
    font-size: 13px;
  }
  .orbit-slide:nth-of-type(4) .orbit-caption-text-left {
    font-size: 14px;
  }
  /*order*/
  .owl-caption {
    font-size: 9px;
    top: 1.9em;
  }
  .pricing-bg h2 {
    font-size: 18px;
  }
}