.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

#back-top {
  position: fixed;
  bottom:20px;
  right: 2%;
  z-index: 100; }

.w3-bar .w3-button {
    padding: 16px;
}
.text-shadow {
  text-shadow: 2px 2px 8px #000;
}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.w3-content {
    max-width: 1200px;
    margin: auto;
}
.w3-top {
  font-size: 14px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}



@media screen and (max-width: 640px) {
  .w3-bar .w3-button {
      padding: 8px;
  }
  body, html {
      font-size: 16px;
  }
  h2{
    font-size: 20px;
  }
  #carousel_1 {
   display: none;
  }
  #carousel_1text {
   display: none;
  }

}




@media screen and (max-width: 1240px) {
  #img_banner{
    width: 890px;
  }
}

@media screen and (max-width: 768px) {
  #img_banner{
    width: 680px;
  }
}
@media screen and (max-width: 640px) {
  #order_now {
   width: 220px;
  }


}
@media screen and (max-width: 412px) {


  header .w3-image{
    /*display: none;*/
  }
  #order_now {
   width: 200px;
  }
}
@media screen and (max-width: 384px) {

}
@media screen and (max-width: 360px) {

}
@media screen and (max-width: 320px) {

}
