/* RESET BROWSERSTYLE */
* {padding: 0; margin: 0;}


/* GLOBAL STYLES */
h1, h2, h3 {font-family: 'century gothic', verdana, sans-serif; color: #456; font-size: 24px; line-height: 1.2em; font-weight: 300; letter-spacing: 1px; border-bottom: 0px solid #999; padding: 0 0 12px 0; margin: 0;}
h4 {font-family: 'century gothic', verdana, sans-serif; color: #456; font-size: 20px; line-height: 1.4em; font-weight: 300; letter-spacing: 1px; margin: 15px 0 10px 0;}
h5 {font-family: 'century gothic', verdana, sans-serif; color: #456; font-size: 18px; line-height: 1.4em; font-weight: 300; letter-spacing: 1px; margin: 15px 0 10px 0;}
h6 {font-family: 'century gothic', verdana, sans-serif; color: #456; font-size: 16px; line-height: 1.4em; font-weight: 300; letter-spacing: 1px; margin: 15px 0 10px 0;}
p {margin: 10px 0;}
ol {margin: 6px 0;}
ol li {line-height: 1.0em; border: 0; padding: 3px 0; margin: 0 0 0 22px;}
ul {list-style-image: url(images/inhlist.gif); margin: 6px 0;}
ul li {line-height: 1.0em; border: 0; padding: 3px 0; margin: 0 0 0 17px;}
hr {clear: both; height: 1px; color: #90969f; background-color: #90969f; border: 0; margin: 5px 0 3px 0;}


/* 
##############################
 C O N T E N T  C L A S S E S 
##############################
*/
.tplge_left_border {background: #fff; float: left; border: 1px solid #90969f; padding: 6px; margin: 0 20px 10px 0;}
.tplge_left_noborder {float: left; border: 0; margin: 0 20px 10px 0;}
.tplge_right_border {background: #fff; float: right; border: 1px solid #90969f; padding: 6px; margin: 0 0 10px 20px;}
.tplge_right_noborder {float: right; border: 0; margin: 0 0 10px 20px;}
.tplge_border {background: #fff; padding: 6px; border: 1px solid #90969f;}
.tplge_noborder {border: 0;}
.clear_both {clear: both;}
.clear_right {clear: right;}
.clear_left {clear: left;}

.tplge_code {background: #eed; font-family: 'courier new', monospace; border: 1px solid #997; padding: 20px;}
.tplge_box01 {clear: both; background: #e6e9ec; border: 3px solid #90969f; padding: 12px 16px; margin: 16px 0;}
.tplge_legal {padding: 6px 0;}

.XXXXXXXXXXXXXXXXXX {} /* Marker for styles menu tinymce */


/* 
##############################
           B O D Y
##############################
 */
body {background: #e0e6ec; font-family: arial, verdana, sans-serif; color: #345; font-size: 15px; line-height: 1.3em; padding: 0; margin: 0;}
body#tplge_body {min-width: 960px; background: #123; color: #234;}
#top {}


/* 
##############################
        L A Y O U T
##############################
*/

div.tplge_container {min-height: 800px; background: #123 url(images/bgheader.jpg) right top no-repeat; color: #444;}
div#tplge_header {width: 100%; min-width: 720px; max-width: 1148px; margin: auto;}
div#tplge_locator {clear: both;}
div#tplge_main {width: 100%; min-width: 960px;}
div#tplge_mainin {width: 960px; margin: auto;}
div#tplge_page {width: 720px; float: left; padding-bottom: 20px; }
div#tplge_sidebarNav {width: 240px; float: left;}
div#tplge_content {width: 480px; float: left;}
div.tplge_news {width: 240px; float: left;}
div#tplge_notes {}

/* GLOBAL */
.tplge_inner {border: 0px solid #999; margin: 0 10px 10px 20px;}


/* 
##############################
        D E S I G N
############################## 
*/

/* GLOBAL */
a:link {color: #258; text-decoration: none;}
a:visited {color: #258; text-decoration: none;}
a:hover {color: #c60; text-decoration: none;}
a:active {color: #c60; text-decoration: none;}
a:focus {color: #c60; text-decoration: none;}


/* HEADER */
div#tplge_header {border-top: 1px solid transparent;}
div#tplge_headerin {padding: 0 6px 7px 6px;}

/* site title */
#tplge_header h1 {font-family: century gothic, verdana, serif; color: #f60; font-size: 24px; line-height: 1.2em; font-weight: 300; font-style: normal; letter-spacing: 1px; padding: 12px 0 6px 0;}

/* searchbox */
div#searchbox {text-align: left; padding: 12px 10px 6px 0;}
div#searchbox .text {width: 120px; background: #c0c6cc; color: #333; font-family: arial, sans-serif; font-size: 14px; border: 1px solid #c0c6cc; padding: 2px 3px;}
div#searchbox .submit {background: #c40; color: #fff; border: 0px solid #fff; padding: 2px 6px;}

/* menu first level */
#tplge_header li {width: 163px!important; height: 60px; float: left; background: #505c66 url(images/bgml1.jpg); padding: 10px; list-style-type: none; list-style-image: none; overflow: hidden;}
#tplge_header ul.menulevel1 {color: #fff; margin: 6px 0 20px 0;}
#tplge_header ul.menulevel1 li {font-size: 14px; line-height: 1.2em; font-weight: 300; border-bottom: 0px solid #ccc; margin: 6px 6px 0 0;}
#tplge_header ul.menulevel1 li:hover {background: #093 url(images/bgml1hover.jpg);}

/* active menu items */
#tplge_header ul.menulevel1 li.sdocs {height: 60px; background: #c40 url(images/bgml1active.jpg);}
#tplge_header ul.menulevel1 li.sdoc {height: 60px; background: #c40 url(images/bgml1active.jpg);}

/* links in header */
div#tplge_header ul.menulevel1 a:link {display: block; height: 60px; color: #fff; text-decoration: none;}
div#tplge_header ul.menulevel1 a:visited {display: block; height: 60px; color: #fff; text-decoration: none;}
div#tplge_header ul.menulevel1 a:hover {height: 60px; color: #fff; text-decoration: none;}
div#tplge_header ul.menulevel1 a:active {height: 60px; color: #fff; text-decoration: none;}
div#tplge_header ul.menulevel1 a:focus {height: 60px; color: #fff; text-decoration: none;}


/* MAIN CONTAINER*/
div#tplge_main {background: #d0d6dc;}
div#tplge_mainin {padding: 16px 0;}


/* locator */
div#tplge_locator {font-family: arial, sans-serif; font-size: 14px;}
div#tplge_locator  div.tplge_inner {padding-bottom: 6px;}


/* SIDEBAR NAVIGATION */
div#tplge_sidebarNav div.tplge_inner {}

/* toc */
#tplge_sidebarNav li {list-style-type: none; list-style-image: none;}

#tplge_sidebarNav ul.menulevel2 {background: #456; font-family: 'century gothic', arial, sans-serif;  padding: 16px 0 14px 12px; margin: 6px 0 2px 0;}
#tplge_sidebarNav ul.menulevel2 li {color: #f90; font-size: 15px; line-height: 1.1em; font-weight: 300; font-style: normal; border: 0; padding: 3px 0 9px 2px; margin: 0;}

#tplge_sidebarNav ul ul.menulevel3 {border: 0px solid #ccc; padding: 3px 0 4px 0; margin: 4px 0 0 0;}
#tplge_sidebarNav ul ul.menulevel3 li {font-weight: 300; line-height: 1.2em; font-size: 14px;; padding: 5px 8px 3px 16px; margin: 0;}

/* level2 navigation links */
#tplge_sidebarNav ul.menulevel2 a:link {color: #fff; text-decoration: none;}
#tplge_sidebarNav ul.menulevel2 a:visited {color: #fff; text-decoration: none;}
#tplge_sidebarNav ul.menulevel2 a:hover {color: #f90; text-decoration: none;}
#tplge_sidebarNav ul.menulevel2 a:active {color: #f90; text-decoration: none;}
#tplge_sidebarNav ul.menulevel2 a:focus {color: #f90; text-decoration: none;}

div#tplge_subnav {color: #c60; padding: 1px 0 5px 0; margin: 0;}
div#tplge_subnav ul {padding: 0; margin: 10px 0;}
div#tplge_subnav ul li {padding: 4px 0; margin: 2px 2px;}
#tplge_sidebarNav p.tplge_lastupdate {font-size: 12px; color: #999; text-align: left; padding: 4px 0; margin: 2px 4px;}

/* active menu items */
#tplge_sidebarNav ul.menulevel1 li.sdocs {}
#tplge_sidebarNav ul.menulevel1 li.sdoc {}
#tplge_sidebarNav ul.menulevel2 li.docs {}
#tplge_sidebarNav ul.menulevel2 li.doc {}


/* INHALT / CONTENT */
#tplge_content div.tplge_inner {border: 0px solid #e6ece0;}

div.tplge_langmenu {text-align: right; padding: 0;}
div.tplge_langmenu img {margin: 6px 0 16px 12px;}


/* vor-hoch-zurueck / prev-top-next */
#tplge_prevnext {clear: both; float: left; width: 100%; border: 0;}
#tplge_prevnext div.tplge_inner {text-align: center; border: 0; border-top: 1px solid #999; padding: 8px 0 0 0; margin: 12px 0 0 0;}
#tplge_prevnext div.tplge_inner span {padding: 0 6px 0 2px;}


/* NEWSBOXEN / NEWSBOXES */
div.tplge_news {line-height: 1.2em;}
div.tplge_news div.tplge_inner {font-size: 14px; padding-bottom: 12px;}

div.tplge_news h4 {height: 40px; background: #456; font-size: 14px; color: #fff; font-weight: 300; line-height: 1.4em; border: 0px solid #fff; padding: 4px 9px 6px 10px; margin: 6px 0 0 0;}
div.tplge_news h5 {font-size: 16px; font-weight: 300; letter-spacing: 1px; margin: 10px 0 0 0;}
div.tplge_news h6 {font-size: 15px; font-weight: 300; letter-spacing: 1px; margin: 10px 0 0 0;}


/* FUSSLINKS / FOOTER LINKS */
#tplge_notes {height: 250px; background: #123 url(images/bgfooter.jpg) right top no-repeat; font-family: arial, sans-serif; font-size: 14px; color: #888; text-align: right; padding: 10px 30px 36px 30px; margin: 0;}
#tplge_notes span {padding: 0 6px 0 2px;}

div#tplge_notes a:link {color: #aaa; text-decoration: none;}
div#tplge_notes a:visited {color: #aaa; text-decoration: none;}
div#tplge_notes a:hover {color: #f60; text-decoration: none;}
div#tplge_notes a:active {color: #f60; text-decoration: none;}
div#tplge_notes a:focus {color: #f60; text-decoration: none;}


/* 
##############################
 S O N S T I G E S / R E S T
############################## 
*/

#passwd {border: 1px solid #999;}
.text {background: #dcdcd9; color: #333; font-family: arial, sans-serif; border: 1px solid #999; padding: 2px 3px;}
.file {border: 1px solid #999;}
.scroll {background: #eec; border: 1px solid #997; padding: 10px; overflow: scroll;}
.retrieve {background: #ffffff; background-image:none; border: 0;}
table.edit {background: #222; font-size: 14px; line-height: 1.2em; border: 1px solid #999; margin: 1px 0;}
table.edit td {border: 0; padding: 3px;}
table.edit a:link {color: #ccc;}
table.edit a:visited {color: #ccc;}
#tplge_content textarea {width: 90%; background: #fff; color: #333; border: 1px solid #999; padding: 4px 8px!important; margin: 0 0 10px 0;}
#tplge_content input {background: #fff; border: 1px solid #90969f;}
#cmsimple_mailform textarea {width: 90%; background: #fff; color: #333; font-family: arial, sans-serif; border: 1px solid #90969f; padding: 10px; margin: 0 0 10px 0;}
#tplge_content input.submit {background: #c40; color: #fff; border: 0px solid #fff; padding: 2px 6px;}
#tplge_content input#submit {background: #c40; color: #fff; border: 0px solid #fff; padding: 2px 6px;}